<ol class="breadcrumb" breadcrumb="">
  <li class="breadcrumb-item ng-scope active"><span>Edit Account</span></li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu">
      <div class="btn-group" role="group">
          <a class="btn btn-outline-secondary" href="#!/account/create"><i class="fa fa-arrow-left"></i> &nbsp;Back</a>
      </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
            <form>
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-6">
                        <strong>Client ID</strong>
                    </div>
                    <div class="col-sm-6">
                      <strong>Account Type</strong>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input ng-model="account.client_id" disabled type="text" class="form-control" value="{{account.client_id}}" placeholder="Insert client id">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="account.account_type" type="text" class="form-control" value="{{account.account_type}}" placeholder="Insert account type">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      <div class="row">
          <div class="col-sm-12 col-lg-12">
            <form>
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-6">
                        <strong>Username</strong>
                    </div>
                    <div class="col-sm-6">
                      <strong>E-mail</strong>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input ng-model="account.username" type="text" class="form-control" value="{{account.username}}" placeholder="Insert Username">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="account.email" type="text" class="form-control" value="{{account.email}}" placeholder="Insert Email">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <form>
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-6">
                        <strong>Forgot Password</strong>
                    </div>
                    <div class="col-sm-6">
                      <strong>Customer left</strong>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group" style="margin-bottom:0px;">
                        <a href="#" class="btn btn-primary btn-fullwidth">GENERATE NEW PASSWORD</a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <a href="#" class="btn btn-danger btn-fullwidth">FREEZE ACCOUNT</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <form>
              <div class="card">
                <div class="card-block">
                  <button type="submit" class="btn btn-lg btn-primary" ng-click="updateIntentNameAndWebhook(intent)">
                    <i class="fa fa-dot-circle-o"></i> SAVE ACCOUNT</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
