.app-header.navbar .navbar-brand {
  background-image: url("../img/logo.jpg");
}

canvas.chart {
    display: inline-block!important;
}

.header-buttons {
    color: #999;
}

.sidebar-toggler {
  left: inherit !important;
  right: 0px;
}

.aside-menu {
    width: 350px;
}

.dimmed {
    position: relative;
  }
  
  .dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }

@media (max-width: 991px) {
    .aside-menu {
        margin-right: 0px;
        width: 250px;
    }
    .aside-menu-fixed .main, .aside-menu-fixed .app-footer {
        margin-right: 250px !important;
    }
}

.aside-menu-hidden .aside-menu {
    margin-right: -350px;
}

.aside-menu-fixed .main, .aside-menu-fixed .app-footer {
    margin-right: 350px;
}

.hide {
    display: none;
}



.app-header.navbar .nav-item .nav-link, .app-header.navbar .nav-item .dropdown-toggle {
    cursor: pointer;
}

.nav-item .hide, .nav-title .hide {
    display:none;
}

.p-a-1 {
    padding: 1rem!important;
}

.m-b-0, .m-y-0 {
    margin-bottom: 0!important;
}

.m-t-h, .m-y-h {
    margin-top: .5rem!important;
}

.td-middle {
  vertical-align: middle !important;
}

.tag-success {
    background-color: #4dbd74;
}

.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
}

tags-input .tags .tag-item .remove-button {
    color: #fff;
}
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }

.alert-div{
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 5px;
}
.alert-text{
@media (max-width: 991px) {
  .sidebar-hidden .sidebar {
      margin-left: -200px;
  }
}
}

/** MIQ **/
.combined {
    background: #379457;
    border-color:#379457;
    color:#fff;
}

.combined .header-buttons {
    color:#fff;
}

.btn-outline-secondary:hover {
    background:transparent !important;
}

.alert-miq {
    background: #115770;
    border-color:#115770;
    color:#fff;  
}

.border-miq > .card-header {
    background: #115770;
    border-color:#115770;
    color:#fff;  
}

body.need_auth {
    background: url(../img/miq.svg) #29363d !important;
    background-repeat: no-repeat !important;
    background-size: 100% 28% !important;
    background-position: 32% 2%!important;
    overflow:hidden !important;
}

.Navbar-text {
    display: flex;
    margin-top: 10px;
}

body .Navbar-text a {
    background: #20a8d8;
    padding: 5px 10px;
    color: #fff;
    display:block;
    float: left;
    margin: 0px;
    cursor: pointer;
    margin-right: 5px;
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}

.ui-intent-box {
    margin-top: 20px;
    width: 95%;
    resize: none;
    float:left;
}

body .ui-intent-save {
    float: right;
    width: 5%;
    background: #20a8d8;
    color: #fff;
    border: 0px;
    justify-items: ;
    margin-top: 20px;
    position: relative;
    text-align: center;
    height: 56px;
    cursor: pointer;
}

.ui-intent-list {
    float:left;width:100%;
}