.app-header.navbar .navbar-brand {
  background-image: url("../img/logo.jpg");
}

canvas.chart {
    display: inline-block!important;
}

.header-buttons {
    color: #999;
}

.sidebar-toggler {
  left: inherit !important;
  right: 0px;
}

.aside-menu {
    width: 350px;
}

.dimmed {
    position: relative;
  }
  
  .dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }

@media (max-width: 991px) {
    .aside-menu {
        margin-right: 0px;
        width: 250px;
    }
    .aside-menu-fixed .main, .aside-menu-fixed .app-footer {
        margin-right: 250px !important;
    }
}

.aside-menu-hidden .aside-menu {
    margin-right: -350px;
}

.aside-menu-fixed .main, .aside-menu-fixed .app-footer {
    margin-right: 350px;
}

.hide {
    display: none;
}



.app-header.navbar .nav-item .nav-link, .app-header.navbar .nav-item .dropdown-toggle {
    cursor: pointer;
}

.nav-item .hide, .nav-title .hide {
    display:none;
}

.p-a-1 {
    padding: 1rem!important;
}

.m-b-0, .m-y-0 {
    margin-bottom: 0!important;
}

.m-t-h, .m-y-h {
    margin-top: .5rem!important;
}

.td-middle {
  vertical-align: middle !important;
}

.tag-success {
    background-color: #4dbd74;
}

.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
}

tags-input .tags .tag-item .remove-button {
    color: #fff;
}
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:5px; }

.alert-div{
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 5px;
}
.alert-text{
@media (max-width: 991px) {
  .sidebar-hidden .sidebar {
      margin-left: -200px;
  }
}
}
#ui-intent-search {
    padding: .75rem 1.25rem;
    border: 0px;
    width: 90%;
}

.list-group-item.search {
    padding:0px;
}

/** MIQ **/
.combined {
    background: #379457;
    border-color:#379457;
    color:#fff;
}

.combined .header-buttons {
    color:#fff;
}

.btn-outline-secondary:hover {
    background:transparent !important;
}

.alert-miq {
    background: #115770;
    border-color:#115770;
    color:#fff;  
}

.card-header {
    background: #115770;
    border-color:#115770;
    color:#fff;  
}

.card-header strong {
    margin-top: 3px;
    float: left;
}

.btn-outline-primary {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    line-height: 1;
    margin-top: 0px !important;
}

body.need_auth {
    background: url(../img/miq.svg) #29363d !important;
    background-repeat: no-repeat !important;
    background-size: 100% 28% !important;
    background-position: 32% 2%!important;
    overflow:hidden !important;
}

.Navbar-text {
    display: flex;
    margin-top: 10px;
}

body .Navbar-text a {
    background: #20a8d8;
    padding: 5px 10px;
    color: #fff !important;
    display:block;
    float: left;
    margin: 0px;
    cursor: pointer;
    margin-right: 5px;
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}

.ui-intent-box {
    margin-top: 20px;
    width: 95%;
    resize: none;
    float:left;
}

body .ui-intent-save {
    float: right;
    width: 5%;
    background: #20a8d8;
    color: #fff;
    border: 0px;
    justify-items: ;
    margin-top: 20px;
    position: relative;
    text-align: center;
    height: 56px;
    cursor: pointer;
}

.ui-intent-list {
    float:left;width:100%;
}

.ui-intent-count {
    float: right;
    text-align: center;
    border-left: 1px solid #aaa;
    padding-left: 15px;
    font-size: 12px;
    color: #aaa;
    padding-right:15px;
    line-height: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ui-small-title {
    display: block;
    font-size: 10px;
    color: #aaa;
    letter-spacing: 1.2px;
    line-height: 1.9;
}

[pagination-id="intentsList"] .list-group-item > a {
    line-height: 1.4;
    float: left;
    padding-top: 8px;
    text-transform: capitalize;
}

span.ui-intent-count:nth-child(2) {
    padding-right: 0px;
}

.ui-btn-blocks {
    float:right;
}

span.tagContainer::after {
    content: 'Tags';
    display: block;
    position: absolute;
    top: -17px;
    font-size: 11px;
    text-transform: uppercase;
    color: #bbb;
    left: 4px;
}

.ui-input-w-text {
    flex-basis: 35%;
    position: relative;
}

span.ui-input-w-text::after {
    content: 'Intent Name';
    display: block;
    position: absolute;
    top: -17px;
    font-size: 11px;
    text-transform: uppercase;
    color: #bbb;
    left: 4px;
}

.ui-input-w-text input {
    height:40px;
}

.tagContainer {
    flex-basis: 50%;
    display: block;
    position:relative;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    height:40px;
    line-height: 1.5;
    color: #3e515b;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 5px;
}

.tagContainer span {
    border: 1px solid;
    padding: 3px 15px;
    font-size: 12px;
    float: left;
    margin-right:5px;
    text-transform: capitalize;
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: 0px 3px 2px -2px rgba(85,85,85,.25);
}

.newTag {
    position:relative;
}

.newTag .close {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    font-size: 12px;
    z-index: 5555;
    cursor: pointer;
}


.newTag .accept {
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background: rgb(9, 155, 65);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    font-size: 12px;
    z-index: 5555;
    cursor: pointer;
}

.ui-btn-blocks a,
.ui-btn-blocks a:not([href]) {
    display: block;
    width: 100%;
    cursor:pointer;

    color: #fff;
    background: #115770;
    font-size: 10px;
    margin-bottom:2px;
    text-align: center;
    padding: 5px 10px;
}

.ui-btn-blocks a:not([href]):hover {
    color: rgba(255,255,255,0.8);

}

.ui-tags {
    width: 100%;
    height: 40px;
    padding-left: 5px;
}

.ui-list-inner .list-group-item {
    background: #115770;
    padding:0px;
    position: relative;
}

.ui-list-inner .list-group-item a {
    display: block;
    color: #fff;
    padding: 10px;
    cursor:pointer;
    float: right;
    width: calc(100% - 110px);
}

.ui-list-inner .list-group-item span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;
    color: #fff;
    font-size: 11px;
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
    padding: 11px;
    width:80px;
}

.ui-list-inner .list-group-item::after {
    display: block;
    clear: both;
    content: '';
}

.ui-submenu-container {
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
}

body.editing::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 50000000;
    width: 100%;
    opacity: 0.5;
    height: 100%;
}

.list-group.active, .list-group-item.active {
    z-index: 50000000;
    position: relative;
}

.editing .list-group-item.active {
    background:#fff;
    border-color:#fff;
    color:#333;
}

.list-group-item > span:first-child {
         float:left;
         padding:0px;
    border: 1px solid rgba(51, 51, 51, 0.0);
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
      -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
         transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
}

.list-group.active .list-group-item > span:first-child {
    padding: 10px 25px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}

.list-group-item.active > span:first-child {
    padding: 10px 25px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}

div.list-group.ng-scope > div.list-group-item > span.float-right > button.btn.btn.btn-outline-success > span {
    float:left;
    padding:0px;
border: 1px solid rgba(51, 51, 51, 0.0);
-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
 -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
}


div.list-group.ng-scope > div.list-group-item > span.float-right > button.btn.btn.btn-outline-success, div.list-group-item.active > span.float-right > button.btn.btn.btn-outline-success, .doUpdate {
    visibility: hidden;
    opacity:0;
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
 -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
}

.small-notify-text {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.text-block-container {
    float: left;
    display: flex;
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
}

.text-block-container .single-block {
    float: left;
    width: 33.33%;
    flex: 1;
    max-width: 33.33%;
}

.text-block-container .single-block:not(:nth-child(3n3)) {
    margin-right: 10px;
}

.text-block-container textarea {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 10px;
    height: 99px;
    background: transparent;
    width: 100%;
    border: 1px solid #ccc;
    resize: none;
    background: #fdfdfd;
}

div.list-group.ng-scope.active > div.list-group-item > span.float-right > button.btn.btn.btn-outline-success, .active  span.float-right > button.btn.btn.btn-outline-success {
    visibility: visible !important;
    opacity:1 !important;
}

div.list-group.ng-scope.active > div.list-group-item > span.float-right > button.btn.btn.btn-outline-success > span {
    padding: 7px;
    margin-top:0px;

}

.list-group.active .list-group-item > span:not(:first-child) > button:not(:first-child), .list-group-item.active > span:not(:first-child) > button:not(:first-child)  {
    opacity:0;
    display:none;
}