<ol class="breadcrumb" breadcrumb="">
<li class="breadcrumb-item"><a href="#!/agents">Agents</a></li>
<li class="breadcrumb-item active">{{agent.agent_name}}</li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu">
      <div class="btn-group" role="group">
          <a class="btn btn-outline-secondary" ng-click="deleteAgent()" confirm-click-title="Delete Agent" confirm-click="Are you sure? This will delete the agent, all its intents, expressions, and resolved entities."><i class="icon-trash"></i> &nbsp;Delete Agent</a>
      </div>
  </li>
</ol>

<div class="container-fluid">
<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-6 col-lg-9">
        <div class="card">
          <div class="card-header">
            <strong>Intents</strong>
            <span class="float-right">
              <a class="btn btn-outline-primary" href="#!/agent/{{agent.agent_id}}/intent/add"  data-toggle="tooltip" data-placement="top" title="Click to Add a New Intent" tooltip><i class="icon-plus"></i> &nbsp;Add Intent</a>
            </span>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                  <div class="list-group">
                      <div class="list-group-item search">
                        <input type="search" name="intentSearch" ng-keyup="searchField()" ng-model="formData.searchText" id="ui-intent-search" placeholder="Search for your intent.">
                      </div>
                  </div>
                <div class="list-group" dir-paginate="intent in intentList  | itemsPerPage: 10 " pagination-id="intentsList">
                  <div class="list-group-item">
                    <a href="#!/agent/{{intent.agent_id}}/intent/{{intent.intent_id}}">{{intent.intent_name}}</a>
                    <span class="ui-intent-count"><span class="ui-small-title">Responses</span>{{intent.response_count}}</span>
                    <span class="ui-intent-count"><span class="ui-small-title">Expressions</span>{{intent.expression_count}}</span>
                    <span class="ui-btn-blocks">
                      <a href="#">View Expressions</a>
                      <a href="#">View Responses</a>
                      <a href="#">View Intent</a>
                  </div>
              </div>
            </div>
          </div>
          <br/>
          <div style="float:right">
            <dir-pagination-controls pagination-id="intentsList"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <strong>Entities</strong>
          <span class="float-right">
            <a class="btn btn-outline-primary" href="#!/agent/{{agent.agent_id}}/entity/add" data-toggle="tooltip" data-placement="top" title="Click to Add a New Entity" tooltip><i class="icon-plus"></i> &nbsp;Add Entity</a>
          </span>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="list-group" dir-paginate="entity in entitiesList  | itemsPerPage: 5" pagination-id="entitiesList">
                <div class="list-group-item">
                  <a href="#!/agent/{{agent.agent_id}}/entity/{{entity.entity_id}}/synonyms">{{ entity.entity_name }}</a>
                </div>
            </div>
          </div>
        </div>
        <br/>
        <div style="float:right">
          <dir-pagination-controls pagination-id="entitiesList"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div id="headerInfo" class="alert alert-warning" role="alert" style="text-align:center"><b>Rasa Core Configurations</b></div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-lg-6">
        <div class="card border-warning">
          <div class="card-header" data-toggle="tooltip" data-placement="top" title="Actions are the things your bot can actually do. They can have predefined response templates." tooltip>
            <strong>Actions</strong>
            <span class="float-right">
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-add-actions"><i class="icon-plus"></i>&nbsp;Add Action</button>
            </span>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                <div class="list-group" dir-paginate="action in actionsList  | itemsPerPage: 5" pagination-id="actionsList">
                  <div class="list-group-item">
                    <a href="#!/agent/{{agent.agent_id}}/action/edit/{{action.action_id}}">{{ action.action_name }}</a>
                  </div>
              </div>
            </div>
          </div>
          <br/>
          <div style="float:right">
            <dir-pagination-controls pagination-id="actionsList"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card border-warning">
        <div class="card-header">
          <strong>Stories</strong>
          <span class="float-right">
            <a class="btn btn-outline-primary" href="#!/agent/{{agent.agent_id}}/stories" data-toggle="tooltip" data-placement="top" title="Click to change a story" tooltip><i class="fa fa-hand-o-right"></i> &nbsp;Stories Editor</a>
          </span>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="list-group" dir-paginate="story in storiesList  | itemsPerPage: 5" pagination-id="storiesList">
                <div class="list-group-item">
                  {{story}}
                </div>
            </div>
          </div>
        </div>
        <br/>
        <div style="float:right">
          <dir-pagination-controls pagination-id="storiesList"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div id="headerInfo" class="alert alert-miq" role="alert" style="text-align:center"><b>MIQ Configurations</b></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card border-miq">
        <div class="card-header">
          <strong>Combine Agents</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div id="accordion" role="tablist">
                <div class="card" dir-paginate="innerAgent in agentList  | itemsPerPage: 7" pagination-id="agentsList" >
                    <div ng-switch on="agent">
                        <div ng-if="agent.agent_id != innerAgent.agent_id">
                            <div class="card-header agent_{{innerAgent.agent_id}}" role="tab" id="headingOne">
                                <span><a ng-click="combineToAgent(innerAgent.agent_id,agent)" confirm-click-title="Combining Agents" confirm-click="Are you sure? This will combine the agents, all its intents, expressions, and resolved entities.">{{ innerAgent.agent_name }}</a></span>
                                <span class="float-right" style="margin-top:1px;">
                                  <a style="border:0; padding: 0.2rem;" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#agent_{{innerAgent.agent_id}}" aria-expanded="true" aria-controls="collapseOne">
                                  <i class="fa fa-cog fa-lg header-buttons"></i></a>
                                </span>
                              </div>
                              <div ng-if="innerAgent.combine_to != null">
                                <div id="agent_{{innerAgent.agent_id}}" class="collapse combined" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-block">
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formGroupExampleInput1">Name</label>
                                          <input disabled ng-model="innerAgent.agent_name" type="text" class="form-control" id="{{innerAgent.agent_id}}_formGroupExampleInput1" placeholder="Service Endpoint URL" value="{{ innerAgent.agent_name }}">
                                        </div>
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formgroupClientSecret">Client Secret</label>
                                          <input type="text" class="form-control" disabled value="{{ innerAgent.client_secret_key }}">
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formgroupClientSecret">Updated</label>
                                          <input type="text" class="form-control" disabled value="Yesterday">
                                        </div>
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formgroupClientSecret">Updated by</label>
                                          <input type="text" class="form-control" disabled value="MIQ: Mike">
                                        </div>
                                      <div>
                                      </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-sm btn-primary"  ng-click="editAgentInfo(innerAgent)"><i class="fa fa-dot-circle-o"></i> Pick</button>
                                    </div>
                                </div>
                              </div>
                              <div ng-if="innerAgent.combine_to == null">
                                <div id="agent_{{innerAgent.agent_id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-block">
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formGroupExampleInput1">Name</label>
                                          <input disabled ng-model="innerAgent.agent_name" type="text" class="form-control" id="{{innerAgent.agent_id}}_formGroupExampleInput1" placeholder="Service Endpoint URL" value="{{ innerAgent.agent_name }}">
                                        </div>
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formgroupClientSecret">Client Secret</label>
                                          <input type="text" class="form-control" disabled value="{{ innerAgent.client_secret_key }}">
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formgroupClientSecret">Updated</label>
                                          <input type="text" class="form-control" disabled value="Yesterday">
                                        </div>
                                        <div class="form-group">
                                          <label class="form-control-label" for="{{innerAgent.agent_id}}_formgroupClientSecret">Updated by</label>
                                          <input type="text" class="form-control" disabled value="MIQ: Mike">
                                        </div>
                                      <div>
                                      </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-sm btn-primary"  ng-click="editAgentInfo(innerAgent)"><i class="fa fa-dot-circle-o"></i> Pick</button>
                                    </div>
                                  </div>
                              <div style="float:right">
                                <dir-pagination-controls pagination-id="agentsList"></dir-pagination-controls>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div style="float:right">

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="col-sm-6 col-lg-6">
    <div class="card border-miq">
      <div class="card-header">
        <strong>Default Fallback</strong>
      </div>
      <div class="card-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" style="margin-bottom:0px;">
                    <label for="agent_fallback" data-toggle="tooltip" data-placement="top" title="Default fallback is the text that will be send to the chatbot in the case that it does not find a reply in its system." tooltip>Default fallback text</label>
                    <small>If none is set the default will be used: Sorry.. I did not understand that, can you rephrase?</small>
                    <input type="text" class="form-control" id="agent_fallback" ng-model="agent.default_text" placeholder="Enter the string here">
                </div>
            </div>
        </div>
    </div>
      <div style="float:right">
          <button style="float:right" ng-click="setDefaultCallback(agent)"  class="btn btn-primary">
              Save default fallback
          </button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<div class="modal fade" id="modal-add-actions" tabindex="-1" role="dialog" aria-labelledby="addActionsModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="actionsModelLabel">Add Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="actionsForm" novalidate>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="action-name" class="form-control-label">Action Name:</label>
              <div class="input-group">
                <span class="input-group-btn" data-toggle="tooltip" data-placement="top" title="Action name prefix" tooltip>
                  <select class="form-control form-control" ng-model="form.action_name_prefix" required ng-init="form.action_name_prefix='utter_'">
                    <option value="utter_">utter_</option>
                    <option value="utter_webhook_">utter_webhook_</option>
                  </select>
                </span>
                <input type="text" class="form-control" id="action-name" ng-model="form.action_name" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addAction(form,agent)" ng-disabled="actionsForm.$invalid">
          Submit
        </button>
      </div>
        </form>
    </div>
  </div>
</div>
